
# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code settings
.vscode/

# ASP.NET secrets
secrets.json

# Dotnet tools
*.pdb
*.cache
*.db

# Logs
*.log

# Publish output
publish/
.vs/
copilotIndices/
copilot-chat/
FileContentIndex/
v17/
MovieThingy.Tests/obj
MovieThingy.Tests/bin
MovieThingy/bin
MovieThingy/obj